# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# IDE
.idea/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Alembic cache
alembic/__pycache__/

# OS files
.DS_Store
Thumbs.db
org_catalog.db
# Logs
*.log